<div class="mx-2 mt-2">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">P</th>
        <th scope="col">M</th>
        <th scope="col">W</th>
        <th scope="col">D</th>
        <th scope="col">L</th>
        <th scope="col">GF</th>
        <th scope="col">GA</th>
        <th scope="col">GD</th>
      </tr>
    </thead>
    <tbody>
      {% for element in api_data.ligaportugal %}
        <tr>
          <td>{{ element.DesignacaoAbreviada }}</td>
          <td>{{ element.Pontos }}</td>
          <td>{{ element.NumJogos }}</td>
          <td>{{ element.Vitorias }}</td>
          <td>{{ element.Empates }}</td>
          <td>{{ element.Derrotas }}</td>
          <td>{{ element.GolosMarcados }}</td>
          <td>{{ element.GolosSofridos }}</td>
          <td>{{ element.DiferencaGolos }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
