<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" onclick="updatePageContent()">
      {% load static %}
      <img src="{% static 'images/favicon.ico' %}" width="40" height="40" class="d-inline-block align-top" alt="icon" loading="lazy" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        {% if token %}
          <li class="nav-item d-flex flex-md-row">
            <button onclick="updatePageContent('index')" class="btn btn-primary ft_button mt-1 mt-md-0">Profile</button>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        {% if token %}
          <li class="nav-item d-flex flex-md-row">
            <button class="btn btn-primary ft_button mt-2 mt-md-0">Sign Out</button>
          </li>
        {% else %}
          <li class="nav-item d-flex flex-md-row">
            <button class="btn btn-primary ft_button mt-1 mt-md-0" data-bs-toggle="modal" data-bs-target="#signupFormModal">Sign Up</button>
          </li>
          <li class="nav-item d-flex flex-md-row">
            <button class="btn btn-primary ft_button ms-md-2 mt-2 mt-md-0">Sign In</button>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
