<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" onclick="changePage(event)">
      {% load static %}
		{% if token %}
		<img src="{% static 'profilephotos/'|add:userdata.profilephoto %}" width="40" height="40" class="d-inline-block rounded-circle object-fit-cover" alt="icon" loading="lazy" />
		{% else %}
		<img src="{% static 'images/favicon.ico' %}" width="40" height="40" class="d-inline-block object-fit-cover" alt="icon" loading="lazy" />
		{% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        {% if token %}
          <li class="nav-item d-flex flex-sm-row">
            <button onclick="changePage(event, 'profilepage')" class="btn btn-primary ft_button mt-1 mt-sm-0">Profile</button>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        {% if token %}
          <li class="nav-item d-flex flex-sm-row">
            <button class="btn btn-primary ft_button mt-2 mt-sm-0" onclick="signOut(event)">Sign Out</button>
          </li>
        {% else %}
          <li class="nav-item d-flex flex-sm-row">
            <button class="btn btn-primary ft_button mt-1 mt-sm-0" data-bs-toggle="modal" data-bs-target="#signupFormModal">Sign Up</button>
          </li>
          <li class="nav-item d-flex flex-sm-row">
            <button class="btn btn-primary ft_button ms-sm-2 mt-2 mt-sm-0" data-bs-toggle="modal" data-bs-target="#signinFormModal">Sign In</button>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
