{%extends 'base.html'%}

{%block content%}

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" id="index">
				{% load static %}
				<img src="{% static 'images/favicon.ico' %}" width="40" height="40" class="d-inline-block align-top"
					alt="icon" loading="lazy">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav me-auto"></ul>
				<ul class="navbar-nav">
					<li class="nav-item d-flex flex-md-row">
						<button class="btn btn-primary ft_button me-md-2 mb-2 mb-md-0 mt-1 mt-md-0"
							data-bs-toggle="modal" data-bs-target="#signupFormModal">Sign Up</button>
					</li>
					<li class="nav-item d-flex flex-md-row">
						<button class="btn btn-primary ft_button">Sign In</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="app"></div>
	<div class="modal fade text-dark" id="signupFormModal" tabindex="-1" aria-labelledby="signupFormModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content bg-medium">
				<div class="modal-header">
					<span class="modal-title ft_span" id="signupFormModalLabel">Sign Up</span>
					<button type="button" class="btn-close btn-close ft_button" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form class="form" id="signupForm">
						<label for="firstName" class="ft_label">First Name</label>
						<input id="firstName" name="firstName" type="text" class="form-control mb-2 ft_input"
							placeholder="First Name" autocomplete="off">
						<label for="lastName" class="ft_label">Last Name</label>
						<input id="lastName" name="lastName" type="text" class="form-control mb-2 ft_input"
							placeholder="Last Name" autocomplete="off">
						<label for="username" class="ft_label">Username</label>
						<input id="username" name="username" type="text" class="form-control mb-2 ft_input"
							placeholder="Username" autocomplete="off">
						<label for="password" class="ft_label">Password</label>
						<input id="password" name="password" type="password" class="form-control mb-2 ft_input"
							placeholder="Password" autocomplete="off">
						<input type="submit" class="btn btn-primary mt-2 ft_input" value="Sign Up">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger ft_button" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>

{% endblock %}
